* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  height: 52px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);

}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  
}
nav li, nav a {
  display: inline-block;
  text-decoration: none;
}

input {
  border: 0;
  outline: 0;
  width: 444px;
  height: 50px;
  vertical-align: top;
  font-size: 18px;  
  font-weight: 700;
  line-height: 24px;
  position: relative;
  top: -11px;
}

#header-search {
  height: 170px;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-search > a {
    width: 222px;
    height: 51px;
    display: inline-block;
    /* background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png);
    background-position: 0 -158px;
    background-repeat: no-repeat; */      
    background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) 0 -160px no-repeat;
    background-size: 457px 434px;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    top: -2px;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  border: 2px solid #19ce60;
  width: 582px;
  height: 56px;
  display: inline-block;
  position: relative;
  
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-search > fieldset, #header-search > a {
  vertical-align: middle;
}

#header-search fieldset button {
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  background-color: #19ce60;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-icon {
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) -420px 0 no-repeat;
  background-size: 457px 434px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.center-align ul:first-child a {
  color: #03c75a;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -.3px;  
  margin-left: 8px;
}

nav span:first-child {
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png);
  background-size: 457px 434px;
  background-repeat: no-repeat;
}

#nav_mail_icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: -420px -73px; 
  margin: 3px 9px 0 0;
  vertical-align: top;
  margin-left: -8px;
}

#nav_shopping_icon {
  width: 24px;
  height: 20px;
  background-position: -154px -389px;
  display: block;
  position: relative;
  top: 4px;
}

#nav_shoppingLive_icon {
  width: 54px;
  height: 20px;
  background-position: -202px -299px;
  vertical-align: top;
  display: block;
  position: relative;
  top: 4px;
}

#nav_tv_icon {
  width: 12px;
  height: 14px;
  background-position: -444px -49px;
  display: inline-block;
  position: relative;
  margin: 9px 2px 0 0;
  top: 2px;
}

.center-align ul:nth-child(2) a {
  color: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -.3px;  
  margin-left: 8px;
}
